.addspot{
    z-index: 50 !important;
    position: absolute;
    width: 25%;
    height: 50px;
    background-color:#FFF8E1 ;
    top: 87%;
    border-radius: 25px;
    bottom: 5%;
    color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 98%;
    left: 32%;
    transition: 1s;
    display: none;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    @media (max-width: 1000px) {
        width: 45%;
        top:85%;
        left: 25%;


        
     }
}

.addspot h1 {
    font-size: 20px;
    @media (max-width: 1000px) {
        font-size: 10px;

     }
}

.addspot:hover {
    opacity: 100%;
    transform: scale(1.01);
}

