.addspot{
    z-index: 50 !important;
    position: absolute;
    width: 25%;
    height: 50px;
    background-color:#FFF8E1 ;
    top: 87%;
    border-radius: 25px;
    bottom: 5%;
    color:#202020;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 98%;
    left: 38%;
    transition: 1s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.addspot h1 {
    font-size: 20px;
}

.addspot:hover {
    opacity: 100%;
    transform: scale(1.01);
}

