@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Young+Serif&display=swap');


.accesspage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    background-color: #081800;

}

.landingImageBox{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.landingImage{
    width: 120%;

;
    height: fit-content;
    position: absolute;
}

.highlight {
    color: #0d2800;
}

.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 1%;
}

.signSection{
    background-color: #0d2800;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    z-index: 5 !important;
}
.signSection h1{
    font-size: 105px;
}

.signSection div{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}
.signin {
    cursor: pointer;
    width: 325px;
    padding: 20px;
    border-radius: 50px;
    margin: 15px;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #C5FFA8;
    transition: background-color 0.5s ease-in-out;
    color:#0d2800 ;
    border: none;
    font-family: 'Young Serif', 'Times New Roman', Times, serif;
}

.signin:hover{
    opacity: 100%;
    background-color: #C5FFA8;
    background-color: #d3d3d3;
}

.floatingText {
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150px;
    width:300px;
    background-color: #0d2800;
    opacity: 90%;
    justify-content: center;
    padding: 1%;
    border-radius: 25px;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}



.floatingText h2{
    padding: 5px;
    font-size: 18px;
}

.cheepDescription {
    background-color: #0d2800;
    border-radius: 25px;
    width: 50%;
    height: 400px;
    opacity: 90%;


}

.cheepDescription p {
    padding: 10%;
    font-size: 17px;
    text-align: justify;
    color: #CCCCCC;
}

.logo {
    color: #C5FFA8;
}

.Text {
    align-items: center;
    justify-content: center;
    gap: 1%;
    z-index: 1000 !important;
    display: flex;
    flex-direction: column;
    padding: 0;

}

.pitch {
    padding: 5%;
    opacity: 90%;
    background-color: #C5FFA8;
    width: 50%;
    color: #3E3E3E;
    border-radius: 25px;
    font-size: 14px;
    text-align: justify;
}
