.globaloruser {
    width: 80px;
    height: 45px;
    background-color: #202020;
    border-radius: 50px;
    display: flex;
    align-items: center;
    z-index: 50 !important;
    position: absolute;
    justify-content: flex-start;
    left: 50%;
    bottom: 6%;
    opacity: 70%;
    cursor: pointer;

}

.globaloruser[data-globalison="true"]{
    justify-content:end;

}

.handle{
    width: 40px;
    margin: 3%;
    height: 40px;
    background-color: #CCCCCC ;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user{
    width: 25px;
    color: #5A5A5A;
}