.addFriendForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.inputField {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    height: 40px;
    font: 12px;
    color: black;
    font-size: 10px;
    transition: box-shadow 0.3s ease;
    font-family: inherit ;
    font-display: swap;
    background-color: #ebfee2;
    outline: none;
}

.inputField::placeholder{
    font-size: 10px;
}

.circle {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: #a68a64;
    height: 40px;
    font-size:10px;
    width: 100%;
    border: none;
    border-radius: 5px; 
    font-family: inherit;
    font-display: swap;
    color: black;
}