.topBar {

  display: flex;



  width: 90%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #EBE4CE;

}

.section2 {
  z-index: 1000000 !important;
  position: relative;
  display: flex;
  opacity: 98%;
  -webkit-user-select: none; 
  user-select: none;

  flex-direction: column;
  background:  #FFF8E1;
  width: 80%;
  height: 90%;
  padding: 0;
  margin-top: 0;
  border-radius: 25px;
  font-family: inherit;
  font-display: swap;
  color:black;
  font-size: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  @media(max-width: 900px){
  }
}

.userInformation {
  width: 100%;
  pointer-events: none;
  position: absolute;
  background-color: #FFF8E1;
  z-index: 1000 !important;
  width:100%;
  height: 0;
  opacity: 0;
  border-radius: 25px;
  transition: all 1s ease-in-out;
}

.userInformation.open {
  height: 79%;
  z-index: 90000 !important;
  pointer-events: all;
  opacity: 1;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y:scroll;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out; 
  max-height: 0px; 
  opacity: 0; 
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;

}

.gridContainer.open {

  max-height: 500px !important;
  opacity: 1;
}



.signup{
  background-color: #C5FFA8;
  font-family: inherit;
  font-display: swap;
  opacity: 80%;
  height: 100px;
  width: 500px;
  border: none;
  color: #202020;
  padding:15px 25px 15px 25px;
  border-radius: 200px;
  cursor: pointer;
  font-size: 20px;

}

.signup:hover{
  opacity: 100%;
  transform: scale(1.01);
}
.searchSection {

  transition:all 0.4s ease-in-out ;
  z-index: 100 !important;
  border-radius: 10px;
  left: 1%;
  height: 100%;

  opacity: 1;
}



.birdGridItem {
  width: 10px;
  background-color: #C5FFA8;
  color: black;
  font-size: 10px;
  padding: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 5px; 
  justify-content: center; 
  text-align: center;
  margin: 10px;
  opacity: 78%;
}

.container {
  height: 100%;;

  position: relative;
  -webkit-transition: all 0.25s;

  width: 100%; 
  overflow: hidden;
  transition: max-height 1s;
}

.container h1 {
  padding: 20px;
}

.iconButton {
  margin-top: 10%;
  margin-left:20%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  background-color: #637862;
  border-radius: 100%;
  padding: 5px;
  height: 50px;
  cursor: pointer;
}

.dropdownIcon {
  height: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.containerHeader1 {

  padding: 10%;
  height: 50px;
  font-size: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease-in-out;
  justify-content: space-between;
}

.containerHeader1.open{
  height:0;
}
.containerHeader2 {

padding-top: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;

  transition: all 0.3s ease-in-out;
}
.containerHeader2.open{
  height:0;
}
.containerHeader2 h1{
  margin-top: 0;

}

.popupText{
  color: black;
}


