.openAIResponse{
    height: 300px;
    width: 100%;


}

.OpenAILogo{

    padding: 5%;
    height: 20%;
    
}

.logoPNG {
    width: 10%;
    height: 100%;
}

.Lorem {
    padding:10%;
    padding-top: 0%;
    height: 100%;
    color: black;
    font-size: 11px;
}

.exit {
    height: 10%;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;
}